<!DOCTYPE html>
<html>
<head>
  <title>MessageBoard</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <nav class="navbar navbar-default">
		<div class="container">
			<div class="navbar-header">
				<%= link_to "BK Code Project", root_path, class: "navbar-brand" %>
			</div>
			<ul class="navbar-nav nav">
				<% if user_signed_in? %>
					<li><%= link_to "Sign Out", destroy_user_session_path, method: :delete %></li>
				<% else %>
				  <li><%= link_to "Sign Up", new_user_registration_path %></li>
					<li><%= link_to "Log In", new_user_session_path %></li>
				<% end %>
			</ul>
			<% if user_signed_in? %>
				<p><%= link_to "New Post", new_post_path, class: "navbar-text navbar-link navbar-right" %></p>
			<% end %>
		</div>
	</nav>
  <div class="container">
    
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
  
    <%= yield %>

  </div>
  
</body>
</html>
